@font-face {
    font-family: 'Bree-Regular';
    src: url('../fonts/Bree/Bree-Regular.eot?#iefix') format('../fonts/Bree/embedded-opentype'), url('../fonts/Bree/Bree-Regular.otf') format('opentype'), url('../fonts/Bree/Bree-Regular.woff') format('woff'), url('../fonts/Bree/Bree-Regular.ttf') format('truetype'), url('../fonts/Bree/Bree-Regular.svg#Bree-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
