//---------------------
// PATRON DE COLORES
//---------------------
$text:#111111;
$principal:#F1780D;
$secundario:#F1A50D;
html {
	font-size: 16px;
}
body {
	font-family: 'Cormorant Upright', serif;
	color: $text;
}
.bienvenidos {
	background: url("../images/fondo-principal.jpg") no-repeat center top;
	color: #fff;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.encabezado {
	background: $text;
	color: #fff;
	padding: .5rem 0;
}
.encabezado .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.encabezado .logo img {
	width: 100px;
	height: auto;
	margin-bottom: auto;
}
.boton-buscar,
.boton-menu {
	border: 0;
	font-size: 2rem;
	margin: 0;
	padding: 0 .5rem;
	background: transparent;
	color: #fff;
}
.boton-buscar:focus,
.boton-menu:focus {
	outline: 0;
}
.boton-buscar {
	margin-left: auto;
	margin-right: .6rem;
}
.boton-buscar {
	margin-left: auto;
	margin-right: .6rem;
}
#bloque-buscar {
	flex: 1 1 100%;
}
.container-bloque-buscar {
	display: flex;
	height: 3rem;
	margin: 1rem 0;
}
.container-bloque-buscar input[type="text"] {
	border: 0;
	border-radius: 5px 0 0 5px;
	padding: 1rem;
	flex: 1 1 auto;
}
.container-bloque-buscar input[type="submit"] {
	flex: 0 1 auto;
	border: 0;
	border-radius: 0 5px 5px 0;
	background: $principal;
	color: #fff;
	padding: 0 1rem;
}
#menu-principal {
	flex: 1 1 100%;
}
#menu-principal ul {
	margin: 1rem 0 0;
	list-style: none;
	padding: 0;
}
#menu-principal ul li a {
	display: block;
	padding: .8rem 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border-top: 1px solid $principal;
	text-decoration: none;
}
#menu-principal ul li a:hover,
#menu-principal ul li.active a {
	color: $principal;
}
.text-encabezado {
	flex: 1 1 auto;
	align-items: center;
	display: flex;
}
.text-encabezado .display-4 {
	margin-top: 5.3rem;
}
.btn-primary {
	color: #fff;
	background-color: $principal;
	border-color: transparent;
	margin-top: 1rem;
	transition: all .5s ease;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: $secundario;
	border-color: transparent;
}
.fecha-bajar a {
	display: inline-block;
	color: #fff;
	font-size: 4rem;
	animation: flecha-anim 2s ease-in-out infinite;
}
@keyframes flecha-anim {
	from {
		transform: translateY(0);
	}
	50% {
		transform: translateY(6px);
	}
	to {
		transform: translateY(0);
	}
}

/*******************************
*** seccion 2				 ***
*******************************/

.capital {
	background: $principal;
	color: #fff;
}
.capital img {
	width: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 1rem;
}
.capital h3 {
	margin-top: .5rem;
}

/*******************************
*** seccion 3				 ***
*******************************/

.conozca-moquegua {
	margin-top: .5rem;
}
.conozca-moquegua img {
	width: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 1rem;
}
.conozca-moquegua h2 spam {
	color: $principal;
}
.conozca-moquegua ul,
.conozca-moquegua ul li {
	list-style: none;
}
.conozca-moquegua ul li .fa {
	font-size: 2.3rem;
	background: $secundario;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	color: #fff;
}
.conozca-moquegua ul li,
.eleccion h4 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: .5rem;
}
.conozca-moquegua ul li,
.eleccion p {
	font-weight: normal;
}
.conozca-moquegua ul li {
	min-height: 11rem;
}

/*******************************
*** seccion 4				 ***
*******************************/

.servicos {
	background: url("../images/seccion.jpg") no-repeat center center;
	background-size: cover;
	color: #fff;
}
.servicos article {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}
.servicos img {
	flex: 0 1 60px;
	overflow: hidden;
	margin-right: 1rem;
}
.servicos h3 {
	margin: 0;
	font-size: 1.5rem;
	flex: 1 1 auto;
}
.servicos h3 a {
	color: #fff;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}
.servicos h3 a::after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 2rem;
	margin-left: 1rem;
	opacity: .5;
	position: relative;
	left: 0;
	transition: all .5s ease;
}
.servicos h3 a:hover::after {
	left: -.5rem;
	opacity: 1;
	color: $principal;
}

/*******************************
*** seccion 4				 ***
*******************************/

.actividadesa a {
	text-decoration: none;
}
.actividades a h4 {
	text-decoration: none;
	font-weight: 100;
	text-align: center;
	color: $text;
}
.actividades .container {
	padding-left: 0;
	padding-right: 0;
}
.actividades .owl-nav {
	display: flex;
	justify-content: center;
	margin: .5rem 0;
}
.actividades .owl-prev,
.actividades .owl-next {
	font-size: 3rem;
	margin: 0 .5rem;
	color: $principal;
}
.actividades .owl-prev:hover,
.actividades .owl-next:hover {
	color: $secundario;
	transition: all .5s ease;
}

/*******************************
*** seccion 4				 ***
*******************************/

.pie-pagina {
	background: $text;
	color: #fff;
	text-align: center;
}
.pie-pagina .social {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.pie-pagina .social a {
	color: #fff;
	font-size: 2rem;
	margin: 0 .5rem;
	opacity: .7;
	transition: all .5s ease;
}
.pie-pagina .social a:hover .pie-pagina .social a:hover {
	opacity: 1;
}
.ir-arriba {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	font-size: 3rem;
	color: $secundario;
	text-decoration: none;
	z-index: 99999;
	line-height: 0;
	transition: all .5s ease;
}
.ir-arriba:hover,
.ir-arriba:focus {
	outline: 0;
	text-decoration: none;
	color: $principal;
}
@media (min-width:768px) {
	#menu-principal {
		height: auto !important;
		display: block;
		flex: 0 1 auto;
		margin-left: auto;
		order: 1;
	}
	#menu-principal ul {
		margin: 0 0 0 0;
		display: flex;
	}
	#menu-principal ul li a {
		padding: .8rem;
		text-transform: capitalize;
		margin: o.3rem;
		border-top: 0px;
		border-bottom: 5px solid transparent;
		transition: all .5s ease;
	}
	#menu-principal ul li.active a,
	#menu-principal ul li a:hover,
	{
		color: $principal;
		border-bottom: 5px solid;
	}
	.boton-buscar {
		margin-left: 1rem;
		margin-right: 0;
		order: 2;
	}
	#bloque-buscar {
		order: 3;
		position: absolute;
		width: 20rem;
		right: 4rem;
		top: 2.5rem;
		transition: all .5s ease;
	}
	.servicos article {
		align-items: center;
		margin: 1rem 0;
		flex-direction: column;
		text-align: center;
	}
	.servicos img {
		flex: 0 1 130px;
		overflow: hidden;
		margin-right: 0;
		margin-bottom: 1rem;
		transition: all 1s ease;
	}
	.servicos article:hover img {
		transform: rotateY(360deg);
		transform-style: preserve-3d;
	}
}
